#Node.json/React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

#System
AppData/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyc 
*.pyo 
*.pyd

#Djano
*.sqlite3
db.sqlite3
.env
staticfiles/
media/
.venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#docker-compose
docker-compose.yaml
.git/
.gitignore

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*
